USE [master]
GO
/****** Object:  Database [myerp101]    Script Date: 02/09/2022 16:45:26 ******/
CREATE DATABASE [myerp101] ON  PRIMARY 
( NAME = N'myerp101', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\myerp101.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'myerp101_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\myerp101_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myerp101].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myerp101]
GO
/****** Object:  Table [dbo].[item_master]    Script Date: 02/09/2022 16:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[item_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit_price] [float] NULL,
	[component_no] [varchar](255) NULL,
	[mfg_pn] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[supplier] [varchar](255) NULL,
	[component_description] [varchar](5000) NULL,
	[last_updated] [datetime] NULL,
	[uom] [varchar](255) NULL,
 CONSTRAINT [PK_item_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[item_master] ON
INSERT [dbo].[item_master] ([id], [unit_price], [component_no], [mfg_pn], [type], [supplier], [component_description], [last_updated], [uom]) VALUES (1, NULL, N'L34A196', N'2002-1492', N'standard', NULL, N'item L34A196', CAST(0x0000AE3700000000 AS DateTime), N'EA')
INSERT [dbo].[item_master] ([id], [unit_price], [component_no], [mfg_pn], [type], [supplier], [component_description], [last_updated], [uom]) VALUES (2, NULL, N'L34A194', N'3240294', N'standard', NULL, N'item L34A194', CAST(0x0000AE3700000000 AS DateTime), N'M')
INSERT [dbo].[item_master] ([id], [unit_price], [component_no], [mfg_pn], [type], [supplier], [component_description], [last_updated], [uom]) VALUES (3, 5, N'Z513A0302511', N'2-520407-2', N'standard', N'Mural', N'item Z513A0302511', CAST(0x0000AE3700000000 AS DateTime), N'EA')
SET IDENTITY_INSERT [dbo].[item_master] OFF
/****** Object:  Table [dbo].[customer]    Script Date: 02/09/2022 16:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_email] [varchar](255) NULL,
	[company_name] [varchar](255) NOT NULL,
	[company_website] [varchar](255) NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON
INSERT [dbo].[customer] ([id], [company_email], [company_name], [company_website]) VALUES (1, N'darkdrium_1994@hotmail.com', N'Makino', N'www.makino.com')
INSERT [dbo].[customer] ([id], [company_email], [company_name], [company_website]) VALUES (2, N'darkdrium94@gmail.com', N'Blizzard', N'http://www.blizzard.com')
SET IDENTITY_INSERT [dbo].[customer] OFF
/****** Object:  Table [dbo].[ba_cpinfo]    Script Date: 02/09/2022 16:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ba_cpinfo](
	[mcode] [varchar](30) NOT NULL,
	[mname] [varchar](255) NOT NULL,
	[units] [varchar](8) NULL,
	[sprc] [varchar](255) NULL,
	[typeno] [varchar](20) NULL,
	[priceway] [int] NULL,
	[sbjidcost] [varchar](30) NULL,
	[sbjiddiff] [varchar](30) NULL,
	[sbjidsale] [varchar](30) NULL,
	[sbjidstock] [varchar](30) NULL,
	[mdraw] [varchar](100) NULL,
	[mscost] [numeric](18, 6) NULL,
	[mweight] [numeric](18, 8) NULL,
	[abc] [varchar](8) NULL,
	[stockprice] [numeric](18, 6) NULL,
	[saleprice] [numeric](18, 6) NULL,
	[remark] [varchar](255) NULL,
	[useflag] [int] NULL,
	[storageno] [varchar](20) NULL,
	[msourceno] [varchar](8) NOT NULL,
	[mkindno] [varchar](8) NULL,
	[wcno] [varchar](20) NULL,
	[safenum] [numeric](18, 8) NULL,
	[batchflag] [int] NULL,
	[movebatch] [numeric](18, 8) NULL,
	[taxid] [varchar](8) NULL,
	[purchaseday] [varchar](50) NULL,
	[finishrate] [numeric](18, 8) NULL,
	[badrate] [numeric](18, 8) NULL,
	[minbatch] [int] NULL,
	[qualityday] [int] NULL,
	[lowqty] [numeric](18, 8) NULL,
	[highqty] [numeric](18, 8) NULL,
	[checkflg] [int] NOT NULL,
	[schemeno] [varchar](20) NULL,
	[chkerid] [varchar](20) NULL,
	[chkerdate] [datetime] NULL,
	[istates] [int] NULL,
	[kdcode] [varchar](100) NULL,
	[ufcode] [varchar](50) NULL,
	[chargeno] [varchar](20) NULL,
	[hjzt] [int] NULL,
	[isauto] [int] NULL,
	[dpreday] [int] NULL,
	[dpreqty] [int] NULL,
	[plankind] [int] NULL,
	[ltypno] [varchar](8) NULL,
	[longscale] [numeric](18, 8) NULL,
	[mclrname] [varchar](50) NULL,
	[density] [numeric](18, 8) NULL,
	[mkerid] [varchar](20) NULL,
	[mkerdate] [datetime] NULL,
	[packrate] [numeric](18, 8) NULL,
	[packunits] [varchar](8) NULL,
	[cgpackrate] [numeric](18, 8) NULL,
	[cgpackunits] [varchar](8) NULL,
	[pricetyp] [int] NULL,
	[version] [varchar](8) NULL,
	[startdate] [datetime] NULL,
	[ordremark] [varchar](2000) NULL,
	[mstates] [varchar](8) NULL,
	[bvisible] [int] NULL,
	[qstyp] [varchar](10) NULL,
	[qltyp] [varchar](10) NULL,
	[qgoodrate] [numeric](18, 8) NULL,
	[qqtyelse] [numeric](18, 8) NULL,
	[bincount] [int] NULL,
	[tprocess] [varchar](20) NULL,
	[satype] [varchar](20) NULL,
	[isback] [int] NULL,
	[barcode] [varchar](50) NULL,
	[salespris] [numeric](18, 6) NULL,
	[scode] [varchar](20) NULL,
	[ename] [varchar](20) NULL,
	[jjflg] [int] NULL,
	[tihuanliao] [varchar](30) NULL,
	[usepubflg] [int] NULL,
	[makebatch] [numeric](18, 8) NULL,
	[process] [varchar](20) NULL,
	[macreage] [numeric](18, 8) NULL,
	[mysendstate] [int] NULL,
	[mychkinfo] [varchar](255) NULL,
	[cbrate] [numeric](18, 8) NULL,
	[ledtid] [varchar](20) NULL,
	[ledtdate] [datetime] NULL,
	[xchkerid] [varchar](15) NULL,
	[xchkdate] [datetime] NULL,
	[xchkstates] [int] NULL,
	[mcode1] [varchar](30) NULL,
	[isbom] [int] NULL,
	[outpset] [nchar](10) NULL,
	[marketprice] [numeric](18, 6) NULL,
 CONSTRAINT [PK_ba_cpinfo] PRIMARY KEY CLUSTERED 
(
	[mcode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[staff]    Script Date: 02/09/2022 16:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staff_email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[first_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[role] [varchar](255) NOT NULL,
	[supervisor] [int] NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON
INSERT [dbo].[staff] ([id], [staff_email], [password], [first_name], [last_name], [role], [supervisor]) VALUES (1, N'calvin.ang.2019@scis.smu.edu.sg', N'a7fe9dcbcafa8559ea3617a3a21af7b8aa06c2badf7322c67c5ee6b6f880cdb1', N'Calvin', N'Ang', N'supervisor', NULL)
INSERT [dbo].[staff] ([id], [staff_email], [password], [first_name], [last_name], [role], [supervisor]) VALUES (2, N'darrenho.2019@scis.smu.edu.sg', N'27223b82963b3a8fea8429d8c46226e7060b180ba68f3914b51ccc119143ef65', N'Darren', N'Ho', N'salesperson', 1)
INSERT [dbo].[staff] ([id], [staff_email], [password], [first_name], [last_name], [role], [supervisor]) VALUES (3, N'jingwen.ng.2019@scis.smu.edu.sg', N'2d85dfe4a153c73e4b4b0b51d36ac276c2e89254e0f59fd27f81925dd8db59b2', N'Jing Wen', N'Ng', N'admin', NULL)
SET IDENTITY_INSERT [dbo].[staff] OFF
/****** Object:  Table [dbo].[quotation]    Script Date: 02/09/2022 16:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quotation](
	[quotation_no] [varchar](255) NOT NULL,
	[customer] [int] NULL,
	[assigned_staff] [int] NULL,
	[rfq_date] [datetime] NOT NULL,
	[last_edited] [datetime] NULL,
	[status] [varchar](255) NOT NULL,
	[comment] [varchar](8000) NULL,
	[generation_date] [datetime] NULL,
	[markup_pct] [float] NULL,
	[labour_cost] [float] NULL,
	[labour_no_of_hours] [float] NULL,
	[testing_cost] [float] NULL,
	[remark] [varchar](8000) NULL,
 CONSTRAINT [PK_quotation] PRIMARY KEY CLUSTERED 
(
	[quotation_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[quotation] ([quotation_no], [customer], [assigned_staff], [rfq_date], [last_edited], [status], [comment], [generation_date], [markup_pct], [labour_cost], [labour_no_of_hours], [testing_cost], [remark]) VALUES (N'26VSMTC-0012-ST=14', 1, 1, CAST(0x0000ACB000000000 AS DateTime), NULL, N'sent', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[quotation] ([quotation_no], [customer], [assigned_staff], [rfq_date], [last_edited], [status], [comment], [generation_date], [markup_pct], [labour_cost], [labour_no_of_hours], [testing_cost], [remark]) VALUES (N'27VSMTC-0012-ST=10', 1, 1, CAST(0x0000ACB700000000 AS DateTime), NULL, N'sent', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[quotation] ([quotation_no], [customer], [assigned_staff], [rfq_date], [last_edited], [status], [comment], [generation_date], [markup_pct], [labour_cost], [labour_no_of_hours], [testing_cost], [remark]) VALUES (N'28VSMTC-0012-ST=13', 1, 1, CAST(0x0000ACB700000000 AS DateTime), NULL, N'sent', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[quotation_component]    Script Date: 02/09/2022 16:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quotation_component](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quotation_no] [varchar](255) NOT NULL,
	[row] [int] NOT NULL,
	[component_no] [varchar](255) NOT NULL,
	[lvl] [float] NOT NULL,
	[uom] [varchar](255) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[quantity] [float] NOT NULL,
	[unit_price] [float] NULL,
	[is_bom] [int] NOT NULL,
	[bom_id] [int] NULL,
	[remark] [varchar](8000) NULL,
	[crawl_info] [varchar](max) NULL,
 CONSTRAINT [PK_quotation_component_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[quotation_component] ON
INSERT [dbo].[quotation_component] ([id], [quotation_no], [row], [component_no], [lvl], [uom], [description], [quantity], [unit_price], [is_bom], [bom_id], [remark], [crawl_info]) VALUES (1, N'quotation_one', 2, N'bom_a', 0.1, N'SET', N'Bom A', 1, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[quotation_component] ([id], [quotation_no], [row], [component_no], [lvl], [uom], [description], [quantity], [unit_price], [is_bom], [bom_id], [remark], [crawl_info]) VALUES (2, N'quotation_one', 3, N'bom_a_item_a', 2, N'EA', N'Bom A Item A', 5, 6.038, 0, 1, NULL, N'[{"supplier":"mouser", "url":"www.mouser.sg", "qty":2, "unit_price":5.33},{"supplier":"digikey", "url":"www.digikey.sg", "qty": 3, "unit_price":6.51}]')
INSERT [dbo].[quotation_component] ([id], [quotation_no], [row], [component_no], [lvl], [uom], [description], [quantity], [unit_price], [is_bom], [bom_id], [remark], [crawl_info]) VALUES (3, N'quotation_one', 4, N'bom_a_item_b', 2, N'EA', N'Bom A Item B', 10, 4, 0, 1, NULL, N'[{"supplier":"mouser", "url":"www.mouser.sg", "qty":10, "unit_price":4}]')
SET IDENTITY_INSERT [dbo].[quotation_component] OFF
/****** Object:  ForeignKey [FK_staff_staff]    Script Date: 02/09/2022 16:45:26 ******/
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_staff] FOREIGN KEY([supervisor])
REFERENCES [dbo].[staff] ([id])
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_staff]
GO
/****** Object:  ForeignKey [FK_quotation_customer]    Script Date: 02/09/2022 16:45:26 ******/
ALTER TABLE [dbo].[quotation]  WITH CHECK ADD  CONSTRAINT [FK_quotation_customer] FOREIGN KEY([customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[quotation] CHECK CONSTRAINT [FK_quotation_customer]
GO
/****** Object:  ForeignKey [FK_quotation_staff]    Script Date: 02/09/2022 16:45:26 ******/
ALTER TABLE [dbo].[quotation]  WITH CHECK ADD  CONSTRAINT [FK_quotation_staff] FOREIGN KEY([assigned_staff])
REFERENCES [dbo].[staff] ([id])
GO
ALTER TABLE [dbo].[quotation] CHECK CONSTRAINT [FK_quotation_staff]
GO
/****** Object:  ForeignKey [FK_quotation_component_quotation]    Script Date: 02/09/2022 16:45:26 ******/
ALTER TABLE [dbo].[quotation_component]  WITH CHECK ADD  CONSTRAINT [FK_quotation_component_quotation] FOREIGN KEY([quotation_no])
REFERENCES [dbo].[quotation] ([quotation_no])
GO
ALTER TABLE [dbo].[quotation_component] CHECK CONSTRAINT [FK_quotation_component_quotation]
GO
