<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
  <title>Admin AQS TSH</title>
  </head>
<body>
    <!-- insert wrapper -->
    {% include 'wrapper_header.html' %}
    <!-- things to add in here: -->
    <!-- 
        1. assign salesman quotation
        2. create a list fo reasons for rejection
        3. create / delete roles -->

    <div id="content">
      <h1>this is a heading</h1>>
    </div>
    
    
</body>
</html>