  <!doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>TSH - Automated Quotation System</title>
  </head>

  <body onload="start()">
    {% include 'wrapper_header.html' %}
    <div class="wrapper">
      {{ quotation_no | safe }}
      <!-- Page Content  -->
      <div id="content">
        <!-- Edit Quote Page-->
        <div>
          <div id="parts-info">
            <div class="pt-3 d-flex flex-row bd-highlight mb-3 col-6">
              <div class="shadow p-2 text-left flex-fill bd-highlight bg-white"><b id="quotation-name"></b>
                <button data-bs-toggle="modal" data-bs-target="#edit-quote" type="button"
                  class="btn btn-outline-secondary float-end"><i class="bi bi-pencil"></i></button>
                <hr>
                <div class="d-flex my-2">
                  <div class="col-3">
                    <b>Point of contact:</b>
                  </div>
                  <div class="col-9" id="point-of-contact">

                  </div>
                </div>
                <div class="d-flex my-2">
                  <div class="col-3">
                    <b>Reviewed By: </b>
                  </div>
                  <div class="col-9">
                    Desmond
                  </div>
                </div>
                <div class="d-flex my-2">
                  <div class="col-3">
                    <b>Comments:</b>
                  </div>
                  <div class="col-9" id="comments">
                  </div>
                </div>
              </div>
              <div class="p-2 flex-fill bd-highlight"></div>
            </div>
          </div>

          <!-- Quote Information -->
          <div class="shadow bg-white pb-2 mb-3">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <form class="d-flex">
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                      <input type="text" class="form-control" size="30" placeholder="Search Components By"
                        onkeyup="filterComponents()" id="componentSearch" aria-label="search" aria-describedby="search">
                      <select class="form-control form-select" id="filter_components">
                        <option value="0" selected>Component Number</option>
                        <option value="1">Level</option>
                        <option value="2">UOM</option>
                        <option value="3">Description</option>
                        <option value="4">Quantity</option>
                        <option value="5">Unit Price</option>
                        <option value="6">Total Price</option>
                        <option value="7">Remarks</option>
                      </select>
                    </div>
                  </form>
                </ul>

                <div class="d-flex dropdown flex-row bd-highlight">
                  <button class="btn btn-secondary dropdown-toggle shadow-sm" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                  </ul>
                </div>

                <div class="d-flex dropdown flex-row bd-highlight ms-3">
                  <button type="button" class="btn btn-success text-light shadow-sm">Submit For Review</button>
                </div>
                <button type="button" class="btn btn-primary ms-3">Generate Quotation</button>
              </div>
            </nav>

            <!-- Parts -->
            <div class="mx-3">
              <table class="table" id="componentsTable">
                <thead>
                  <tr>
                    <th scope="col"><i class="bi bi-app"></i></th>
                    <th scope="col">Component Number</th>
                    <th scope="col">Level</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="parts">
                </tbody>
              </table>
            </div>
          </div>

          <!-- Insert component button -->
          <div class="text-center">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add-component">Insert New
              Component</button>
          </div>

          <!-- Markup -->
          <div class="shadow bg-white col-6 p-3 my-3">
            <h5>Additional Costs</h5>
            <div class="mx-3 p-3">
              <div class="row">
                <div class="col-3">
                  <label for="labour">Labour Cost($): </label><br><br>
                </div>
                <div class="col-9">
                  <input id="labour" name="labour" type="number" onkeyup="calculateLabourCost()"></input><br><br>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="labour-hours">Number of Labour Hours: </label><br><br>
                </div>
                <div class="col-9">
                  <input id="labour-hours" name="labour-hours" type="number"
                    onkeyup="calculateLabourCost()"></input><br><br>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="total-labour-cost"><b>Total Labour Cost($): </b></label><br><br>
                </div>
                <div class="col-9">
                  <input id="total-labour-cost" class="border-0" name="total-labour-cost" type="number"
                    disabled></input><br><br>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="testing-cost">Testing Cost($): </label><br><br>
                </div>
                <div class="col-9">
                  <input id="testing-cost" name="testing-cost" type="number"></input><br><br>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="markup">Markup (in %): </label><br><br>
                </div>
                <div class="col-9">
                  <input id="markup" name="markup" type="number"></input><br><br>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="labour-remarks">Remarks: </label><br><br>
                </div>
                <div class="col-9">
                  <textarea id="labour-remarks" cols="50" rows="5" name="labour-remarks" type="text"></textarea>
                </div>
              </div>
            </div>
            <div class="p-3">
              <input type="hidden" id="quotation-no-for-cost-update" name="quotation-no-for-cost-update"></input>
              <button type="button" onclick="updateAdditionalCosts()"
                class="btn btn-primary text-light shadow-sm">Update Additional Costs</button>
            </div>
          </div>

          <!-- Edit Parts Modal -->
          <div class="modal fade" id="edit-parts" tabindex="-1" aria-labelledby="editPartsLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  <input type="hidden" id="edit-parts-id"></input>
                  <label for="remark"><b>Remark</b></label><br>
                  <textarea id="remark" name="remark" rows="5" cols="100"></textarea><br><br>
                  <table class="table table-borderless" id="edit-suppliers">
                  </table>
                  <button type="button" class="btn btn-link float-start" onclick="addSupplier()">Add Supplier</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary shadow-sm" onclick="saveEdits()">Save Changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit BOM Modal -->
          <div class="modal fade" id="edit-bom" tabindex="-1" aria-labelledby="editBomModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editBomModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input type="hidden" id="edit-bom-id"></input>
                  <label for="bom-component-no"><b>Component No</b></label><br>
                  <input id="bom-component-no" name="bom-component-no" size="50"></input><br><br>
                  <label for="bom-uom"><b>UOM</b></label><br>
                  <input id="bom-uom" name="bom-uom"></input><br><br>
                  <label for="bom-description"><b>Description</b></label><br>
                  <input id="bom-description" name="bom-description" size="50"></input><br><br>
                  <label for="bom-remark"><b>Remark</b></label><br>
                  <textarea id="bom-remark" name="bom-remark" rows="5" cols="100"></textarea><br><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary shadow-sm" onclick="saveBomEdits()">Save Changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add New Component Under Bom Modal -->
          <div class="modal fade" id="add-component-under-bom" tabindex="-1" aria-labelledby="addComponentUnderBomLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addComponentUnderBomLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input type="hidden" id="add-component-under-bom-id"></input>
                  <input type="hidden" id="add-component-under-bom-quotation-no"></input>
                  <label for="new-component-no-under-bom"><b>Component No</b></label><br>
                  <input id="new-component-no-under-bom" name="new-component-no-under-bom" size="50"></input><br><br>
                  <label for="new-uom-under-bom"><b>UOM</b></label><br>
                  <input id="new-uom-under-bom" name="new-uom-under-bom"></input><br><br>
                  <label for="new-description-under-bom"><b>Description</b></label><br>
                  <input id="new-description-under-bom" name="new-description-under-bom" size="50"></input><br><br>
                  <b>Is Bom?</b><br>
                  <input type="radio" id="is-bom-under-bom" name="new-is-bom?-under-bom" value="1" checked>
                  <label for="is-bom-under-bom">Yes</label><br>
                  <input type="radio" id="is-not-bom-under-bom" name="new-is-bom?-under-bom" value="0">
                  <label for="is-not-bom-under-bom">No</label><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary shadow-sm" onclick="addComponentUnderBom()">Add
                    Component</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add New Component Modal -->
          <div class="modal fade" id="add-component" tabindex="-1" aria-labelledby="addComponentLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addComponentLabel">Add A New Component</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label for="new-component-no"><b>Component No</b></label><br>
                  <input id="new-component-no" name="new-component-no" size="50"></input><br><br>
                  <label for="new-uom"><b>UOM</b></label><br>
                  <input id="new-uom" name="new-uom"></input><br><br>
                  <label for="new-description"><b>Description</b></label><br>
                  <input id="new-description" name="new-description" size="50"></input><br><br>
                  <b>Is Bom?</b><br>
                  <input type="radio" id="is-bom" name="new-is-bom?" value="1" checked>
                  <label for="is-bom">Yes</label><br>
                  <input type="radio" id="is-not-bom" name="new-is-bom?" value="0">
                  <label for="is-not-bom">No</label><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary shadow-sm" onclick="addComponent()">Add
                    Component</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit Quote Details Modal-->
          <div class="modal fade" id="edit-quote" tabindex="-1" aria-labelledby="editQuoteLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Quote Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label for="partno">Comments</label><br>
                  <input type="text" id="edit-comments" name="comments"><br><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary shadow-sm" onclick="saveQuotationEdits()">Save
                    Changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Confirm Delete Modal-->
          <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel"
            aria-hidden="true" id="mi-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Component</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <input type="hidden" id="delete-component-id"></input>
                  <input type="hidden" id="delete-component-quotation-no"></input>
                </div>
                <div class="modal-body" id="confirm-delete-label">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="delete-yes" onclick="deleteComponent()">Yes</button>
                  <button type="button" class="btn btn-secondary" id="delete-no" data-bs-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!--closes the content div -->
      </div>
      <!-- closes wrapper div body -->
    </div>

    <script src="{{url_for('static', filename = 'js/edit.js')}}"></script>
  </body>
  </html>