<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>TSH - Automated Quotation System</title>

    <style>
        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
            color: green;
        }

        .valid:before {
            position: relative;
            left: -35px;
        }

        /* Add a red text color and an "x" icon when the requirements are wrong */
        .invalid {
            color: red;
        }

        .invalid:before {
            position: relative;
            left: -35px;
        }
    </style>
</head>

<body>
    {% include 'wrapper_header.html' %}
    <div class="wrapper">
        <!-- Page Content  -->
        <div id="content">
            <div class="pt-3 fw-bold d-flex flex-row bd-highlight mb-3">
                <div class="shadow p-2 flex-fill bd-highlight bg-white">
                    <div class="text-center">Settings</div>
                    <hr>
                    <div class="p-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <label>First Name</label>
                                </div>
                                <div class="col-5">
                                    <label>Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <input type="text" class="form-control" id="first_name"
                                        placeholder="Enter first name" value="{{ session['first_name'] | title }}"
                                        onkeyup="checkFirstName()" disabled>
                                    <span class="fw-bold text-danger" id="first_name_error_msg"></span>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" id="last_name" placeholder="Enter last name"
                                        value="{{ session['last_name'] | title }}" onkeyup="checkLastName()" disabled>
                                    <span class="fw-bold text-danger" id="last_name_error_msg"></span>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-success w-100" id="change_name"
                                        onclick="changeName()">Change Name</button>
                                    <button type="button" id="save_name" hidden class="btn btn-success w-100"
                                        onclick="saveName()">Save Changes</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Email address</label>
                            <span class="fw-bold text-danger" id="email_error_msg"></span>
                            <div class="row">
                                <div class="col-10">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email"
                                        value="{{ session['email'] }}" onkeyup="checkEmail()" disabled>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-success w-100" id="change_email"
                                        onclick="changeEmail()">Change Email</button>
                                    <button type="button" id="save_email" hidden class="btn btn-success w-100"
                                        onclick="saveEmail()">Save Changes</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Role</label>
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" id="role" placeholder="Enter role"
                                        value="{{ session['role'] | title }}" disabled>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-10">
                                    <label>Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <input type="password" class="form-control" id="password"
                                        placeholder="Enter Existing Password" onkeyup="checkPassword()" disabled>
                                    <span class="fw-bold text-danger" id="password_error_msg"></span>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-success w-100" id="change_password"
                                        onclick="changePassword()">Change Password</button>
                                    <button type="button" id="save_password" hidden class="btn btn-success w-100"
                                        onclick="savePassword()">Save Changes</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div id="change_password_form" hidden>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-10">
                                        <label>Enter New Password</label><span class="fw-bold text-danger"
                                            id="new_password_error_msg"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <input type="password" class="form-control" id="password_new"
                                            placeholder="Enter New Password" onkeyup="checkNewPassword()" disabled>
                                        <span class="fw-bold text-danger" id="password_new_error_msg"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-10">
                                        <label>Re-Enter New Password</label><span class="fw-bold text-danger"
                                            id="new_password2_error_msg"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <input type="password" class="form-control" id="password_new_2"
                                            placeholder="Re-Enter New Password" onkeyup="checkNewPassword2()" disabled>
                                        <span class="fw-bold text-danger" id="password_new_2_error_msg"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div id="message" hidden>
                                <label>New Password must contain the following:</label>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                    </div>
                                    <div class="col">
                                        <p id="number" class="invalid">A <b>number</b></p>
                                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="signature_submit" action="/uploadSignature" method="POST"
                            enctype="multipart/form-data">
                            <div class="form-group">
                                {% if session['signature'] != None %}
                                <div class="row">
                                    <div class="col-10">
                                        <label>Current Signature</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <img src="{{ url_for('static', filename=session['signature']) }}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-10">
                                        <label>Change Signature (only accept .PNG)</label>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col-10">
                                        <label>Add Signature (only accept .PNG)</label>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-10">
                                        <input type="file" class="form-control" id="signature" name="signature"
                                            onchange="checkFile()" accept="image/png">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-success w-100" id="submit_signature"
                                            onclick="submitSignature()" disabled>Submit Signature</button>
                                    </div>
                                    <small class="form-text text-muted">Please limit the file size to below 1MB.</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename = 'js/settings.js')}}"></script>
</body>

</html>