<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>TSH - Automated Quotation System</title>
</head>

<body onload="start()">
    {% include 'wrapper_header.html' %}
    <div class="wrapper">
        <!-- Page Content  -->
        <div id="content">
            <!-- Quote Page-->
            <div>
                <div id="parts-info">
                    <div class="pt-3 d-flex flex-row justify-content-between bd-highlight mb-3">
                        <div class="shadow p-2 bd-highlight bg-white col-4">
                            <div class="fw-bold" id="quotation-name">Quote for Kinergy Corp</div>
                            <div class="row m-auto">
                                <hr>
                                <div class="col-6 text-secondary">
                                    <div class="row">CAD/CAM Diagram:</div>
                                    <div class="row">Point of Contact:</div>
                                    <div class="row">In charge:</div>
                                    <div class="row">Comments: </div>
                                </div>
                                <div class="col-6">
                                    <div class="row-sm">
                                        <a href="#" class="link-primary" id="quotation_no"></a>
                                    </div>
                                    <div class="row-sm" id="point-of-contact"></div>
                                    <div class="row-sm">
                                        <img src="https://c.tenor.com/9qZhM0uswAYAAAAd/bully-maguire-dance.gif"
                                            width="23" height="23" class="rounded-circle"> <span id="in-charge"></span>
                                    </div>
                                    <div class="row-sm" id="comments"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Quotation Status Colour -->
                        <div>
                            <button class="btn btn-warning float-right" id="quotation_status" disabled>Pending
                                Approval</button>
                        </div>
                    </div>
                </div>

                <!-- Quote Information -->
                <div class="shadow bg-white">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <form class="d-flex">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="bi bi-search"></i></span>
                                        <input type="text" class="form-control" size="30"
                                            placeholder="Search Components By" onkeyup="filterComponents()" id="componentSearch">
                                        <select class="form-control form-select" id="filter_components">
                                            <option value="0" selected>Component Number</option>
                                            <option value="1">Level</option>
                                            <option value="2">UOM</option>
                                            <option value="3">Description</option>
                                            <option value="4">Quantity</option>
                                            <option value="5">Unit Price</option>
                                            <option value="6">Total Price</option>
                                            <option value="7">Remarks</option>
                                        </select>
                                    </div>
                                </form>
                            </ul>
                        </div>
                        <div class="container-fluid justify-content-end">
                            <div class="d-flex dropdown flex-row bd-highlight ms-3">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#approvedModal"
                                    class="btn btn-success text-light shadow-sm" id="approve_button"
                                    disabled>Approve</button>
                            </div>
                            <!-- Approved Modal -->
                            <div class="modal fade" id="approvedModal" tabindex="-1" role="dialog"
                                aria-labelledby="approvedModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="approvedModal">Quotation Approval</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to approve<br>
                                            <b><span id="quotation_no_modal">Quote for Kinergy Corp</span></b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary shadow-sm"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                                id="approve_click">Approve</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex dropdown flex-row bd-highlight ms-3">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#rejectedModal"
                                    class="btn btn-danger text-light shadow-sm" id="reject_button"
                                    disabled>Reject</button>
                            </div>
                            <!-- Rejected Modal -->
                            <div class="modal fade" id="rejectedModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Quotation Rejection
                                                Comments</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="rejectionReason">Comments</label>
                                            <textarea class="form-control" id="rejectionReason" rows="3"
                                                placeholder="Enter comments here"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary shadow-sm"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                id="reject_click">Reject</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>

                    <!-- Parts -->
                    <div class="mx-3">
                        <table class="table" id="componentsTable">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Component Number</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">UOM</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Remark</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="parts">
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Markup -->
                <div class="shadow bg-white col-6 p-3 my-3">
                    <h5>Additional Costs</h5>
                    <hr>
                    <div class="row pb-3">
                        <div class="col-4">
                            <label for="labour">Labour Cost ($): </label>
                        </div>
                        <div class="col-8">
                            <input id="labour" name="labour" type="number" disabled>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-4">
                            <label for="labour-hours">Number of Labour Hours: </label>
                        </div>
                        <div class="col-8">
                            <input id="labour-hours" name="labour-hours" type="number" disabled>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-4">
                            <label for="total-labour-cost"><b>Total Labour Cost ($): </b></label>
                        </div>
                        <div class="col-8">
                            <input id="total-labour-cost" class="border-0" name="total-labour-cost" type="number" disabled>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-4">
                            <label for="testing-cost">Testing Cost ($): </label>
                        </div>
                        <div class="col-8">
                            <input id="testing-cost" name="testing-cost" type="number" disabled>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-4">
                            <label for="markup">Markup (in %): </label>
                        </div>
                        <div class="col-8">
                            <input id="markup" name="markup" type="number" disabled>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-4">
                            <label for="labour-remarks">Remarks: </label>
                        </div>
                        <div class="col-8">
                            <textarea id="labour-remarks" cols="50" rows="5" name="labour-remarks"
                                type="text" disabled></textarea>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-4">
                            <label for="overall-cost"><b>Total Overall Cost ($): </b></label>
                        </div>
                        <div class="col-8">
                            <input id="overall-cost" name="overall-cost" type="number" disabled>
                        </div>
                    </div>
                </div>
                </div>

                <!-- View Parts Modal -->
                <div class="modal fade" id="view-parts" tabindex="-1" aria-labelledby="viewPartsLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="viewModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <label for="remark"><b>Remark</b></label><br>
                                <textarea id="remark" name="remark" rows="5" cols="100" disabled></textarea><br><br>
                                <table class="table table-borderless" id="view-suppliers">
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary shadow-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--closes the content div -->
        </div>
        <!-- closes wrapper div body -->
    </div>

    <script src="{{url_for('static', filename = 'js/supervisor_quotation.js')}}"></script>
</body>

</html>