<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>TSH - Automated Quotation System</title>
</head>

<body onload="start()">
    {% include 'wrapper_header.html' %}
    <div class="wrapper">
        <!-- Page Content  -->
        <div id="content">
            <!-- Stats -->
            <div id="stats">
                <div class="pt-3 fw-bold d-flex flex-row bd-highlight mb-3">
                    <div class="shadow align-self-start p-2 text-center flex-fill bd-highlight bg-white">Approved
                        <hr>
                        <p class="fw-bold fs-2 text-success" id="approved">0</p>
                    </div>

                    <div class="shadow align-self-start p-2 ms-3 text-center flex-fill bd-highlight bg-white">Pending
                        <hr>
                        <p class="fw-bold fs-2 text-primary" id="sent">0</p>
                    </div>

                    <div class="shadow align-self-start p-2 ms-3 text-center flex-fill bd-highlight bg-white">Rejected
                        <hr>
                        <p class="fw-bold fs-2 text-danger" id="rejected">0</p>
                    </div>

                    <div class="shadow align-self-start p-2 ms-3 text-center flex-fill bd-highlight bg-white">Total Job
                        Win
                        <hr>
                        <p class="fw-bold fs-2 text-success" id="job-win">$0</p>
                    </div>

                    <div class="shadow align-self-start p-2 ms-3 text-center flex-fill bd-highlight bg-white">Total Job
                        Loss
                        <hr>
                        <p class="fw-bold fs-2 text-danger" id="job-loss">$0</p>
                    </div>
                </div>
            </div>
            <!-- Dashboard Stuff -->
            <div>
                <div class="row pt-3 d-flex flex-row bd-highlight mb-3">
                    <div class="col-9">
                        <div class="shadow p-2 flex-fill bd-highlight bg-white">
                            <table class="table">
                                <thead>
                                    <tr class="fw-bold">
                                        <th scope="colgroup" colspan="2">Top 4 Salesperson</th>
                                        <th scope="col" class="text-center"><button
                                                class="btn btn-success btn-sm btn-block" disabled>Win</button>
                                        </th>
                                        <th scope="col" class="text-center"><button
                                                class="btn btn-danger btn-sm btn-block" disabled>Loss</button></th>
                                        <th scope="col" class="text-center fw-bold">Total Profit</th>
                                    </tr>
                                </thead>
                                <tbody id="salesperson">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col shadow p-2 flex-fill bd-highlight bg-white">
                            <div class="row">
                                <div class="col-7 text-center fw-bold p-1">
                                    Dashboard Filter:
                                </div>
                                <div class="col-5">
                                    <div class="dropdown">
                                        <div class="dropdown-toggle btn-outline-primary p-1" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="date-filter-value">
                                            Monthly</div>
                                        <ul class="dropdown-menu" aria-labelledby="date-filter" id="date-filter">
                                            <li class="dropdown-item" onclick="dashboardData('month')">Monthly</li>
                                            <li class="dropdown-item" onclick="dashboardData('year')">Yearly</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 d-flex flex-row bd-highlight mb-3">
                    <div class="col-12">
                        <div class="shadow p-2 flex-fill bd-highlight bg-white">
                            <div class="fw-bold text-center">
                                Total Job Profit Amount ($)
                            </div>
                            <hr>
                            <div class="row text-center p-2" id="job-profit-chart">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 d-flex flex-row bd-highlight mb-3">
                    <div class="col-6">
                        <div class="shadow p-2 flex-fill bd-highlight bg-white">
                            <div class="row">
                                <div class="col fw-bold text-center">
                                    Job Win/Loss
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col fw-bold text-primary text-end">
                                            Overall Win Rate: <span id="win-rate"></span> %
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center p-2" id="job-win-loss-stacked-bar">

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="shadow p-2 flex-fill bd-highlight bg-white">
                            <div class="row fw-bold text-center">
                                <div class="col ">
                                    Fulfilled Quotations
                                </div>
                                <div class="col text-start">
                                    <i class="bi bi-info-circle"></i>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center p-2" id="fulfilled-quotations-bar">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- For dashboard -->
            <script src="https://code.highcharts.com/highcharts.js"></script>

            <script type="text/javascript">
                // Date filters
                $(function () {
                    $("#date-filter li").click(function () {
                        $("#date-filter-value").text($(this).text());
                    });
                });
            </script>
            <script src="{{url_for('static', filename = 'js/supervisor_dashboard.js')}}"></script>
</body>

</html>